/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GENOMESCOPE2' {
        ext.args = '--testing'
    }

    withName: 'HIFIASM' {
        ext.args = '--primary'
    }

    withName: 'GFASTATS_PATERNAL' {
        ext.args = [
            "--discover-paths",
            "--tabular",
            "--nstar-report"
        ]
        .join(' ').trim()
    }

    withName: 'GFASTATS_MATERNAL' {
        ext.args = [
            "--discover-paths",
            "--tabular",
            "--nstar-report"
        ]
        .join(' ').trim()
    }

    withName: 'BUSCO_BUSCO' {
        ext.args = '--miniprot'
    }

    withName: 'CUT' {
        ext.args = '-f1,2'
    }

    withName: 'BWA_MEM' {
        ext.args = [
            "-5SP",
            "-T0"
        ]
        .join(' ').trim()
    }

    withName: 'PAIRTOOLS_PARSE' {
        ext.args = [
            "--min-mapq 40",
            "--walks-policy 5unique",
            "--max-inter-align-gap 30",
            "--nproc-in 32"
        ]
        .join(' ').trim()
    }

    withName: 'PAIRTOOLS_DEDUP' {
        ext.args = [
            "--nproc-in 32",
            "--nproc-out 32",
            "--mark-dups"
        ]
        .join(' ').trim()
    }

    withName: 'PAIRTOOLS_SPLIT' {
        ext.args = [
            "--nproc-in 32",
            "--nproc-out 32"
        ]
        .join(' ').trim()
    }

    withName: 'SAMTOOLS_SORT' {
        ext.args = '-@32'
    }

    withName: 'YAHS_PATERNAL' {
        ext.args = '--no-contig-ec'
    }

    withName: 'YAHS_MATERNAL' {
        ext.args = '--no-contig-ec'
    }

    withName: 'TIARA_TIARA_PATERNAL' {
        ext.args = [
            "-m 1000",
            "--tf mit pla pro",
            "-p 0.65 0.60",
            "--probabilities"
        ]
        .join(' ').trim()
    }

    withName: 'TIARA_TIARA_MATERNAL' {
        ext.args = [
            "-m 1000",
            "--tf mit pla pro",
            "-p 0.65 0.60",
            "--probabilities"
        ]
        .join(' ').trim()
    }

    withName: 'GFASTATS_FINAL' {
        ext.args = [
            "--tabular",
            "--nstar-report"
        ]
        .join(' ').trim()
    }

    withName: 'BUSCO_BUSCO_FINAL' {
        ext.args = '--miniprot'
    }

    withName: 'BUSCO_GENERATEPLOT_FINAL' {
        ext.args = '-rt specific'
    }

    withName: 'RCLONE' {
        ext.args = '--checksum' // --copy-links
    }
}
